<div class="container">
  <h1>Liste des Mangas</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @mangas.each do |manga| %>
      <div class="col">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= manga.cover_image %>" class="img-fluid" alt="<%= manga.title %>">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= manga.title %></h5>
                <p class="card-text">Auteur: <%= manga.author_name %></p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="<%= mangas_path%>/<%= manga.id %> ">Voir plus</a></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

