<style>
  body {
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  .banner {
    width: 100%;
    height: 100vh;
    background-color: #007bff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner h1 {
    font-size: 48px;
    margin: 0;
  }

  .banner p {
    font-size: 24px;
    margin: 0;
  }

  .content {
    padding: 50px;
  }

  .card {
    background-color: #343a40;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .card-title {
    color: #ffffff;
    margin-bottom: 20px;
  }
</style>

<div class="banner">
  <div class="container">
    <h1>Bienvenue sur Mon Application</h1>
    <p>Découvrez notre collection de mangas et plongez dans un univers captivant !</p>
  </div>
</div>

<div class="content">
  <div class="container">
    <h1>Liste des Mangas</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @mangas.each do |manga| %>
        <div class="col">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= manga.cover_image %>" class="img-fluid" alt="<%= manga.title %>">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= manga.title %></h5>
                  <p class="card-text">Author: <%= manga.author_name %></p>
                  <p class="card-text">
                    <strong>Genres :</strong>
                    <% genres = manga.categories.map(&:name) %>
                    <%= genres.join(", ") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted"><a href="<%= mangas_path%>/<%= manga.id %> ">See more</a></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
