<div class="content">
  <div class="container">
    <h1>Liste des Mangas</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @mangas.each do |manga| %>
        <div class="col">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= manga.cover_image %>" class="img-fluid" alt="<%= manga.title %>">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= manga.title %></h5>
                  <p class="card-text"><strong>Author: </strong>: <%= manga.author_name %></p>
                  <p class="card-text"><strong>Reading: </strong> <%= manga.statistic.reading %></p>
                  <p class="card-text"><strong>On_hold: </strong> <%= manga.statistic.on_hold %></p>
                  <p class="card-text"><strong>Completed: </strong> <%= manga.statistic.completed %></p>
                  <p class="card-text"><strong>Dropped: </strong> <%= manga.statistic.dropped %></p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted"><a href="<%= mangas_path%>/<%= manga.id %> ">See more</a></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if current_user %>
      <%= will_paginate @mangas, renderer: BootstrapPagination::Rails %>
    <% else %>
      <div class="text-center mt-4">
        <% if @mangas.current_page > 1 %>
          <%= link_to 'Load Previous', mangas_path(page: @mangas.current_page - 1), remote: true, class: 'btn btn-primary mr-2' %>
        <% end %>
        <% if @mangas.current_page < @last_page %>
          <%= link_to 'Load More', mangas_path(page: @mangas.current_page + 1), remote: true, class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
