<div class="container">
<p style="color: green"><%= notice %></p>

<h1 class="bg-secondary text-light py-2 rounded text-center">Favorites Mangas</h1>

<div id="gossips" class="rounded">
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <%# <th>Synopsis</th> %>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>            
    <% @favorites.each do |favorite| %>
			<tr class="success">
			  <td><%= favorite.id %></td>
			  <td><%= favorite.manga.title %></td>
			  <%# <td><%= favorite.manga.synopsis </td> %>
        <td><%= link_to "Show Favorite", manga_path(favorite.manga.id), :class => "btn btn-outline-info sm" %></td>
			</tr>
    <% end %>
		</tbody>
	</table>
</div>
<%# <%= link_to "New Favarite", new_user_favorite_path(user_id: current_user.id, manga_id: @manga.id), method: :post, :class => "btn btn-primary sm mx-2"%> 
</div>
