<div class="container">

<h2 class='text-center'>Log in</h2>
<div class="row">

<div class="col-sm-2"></div>

<div class="shadow p-4 mb-5 bg-body rounded col-md-8">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div style="color: red">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :"email :", style: "display: block", :class => "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :"password :", style: "display: block", :class => "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit :"Sing In", :class => "btn btn-primary btn-block mb-4" %>
      <p>Do Not Have an Account ? <%= render "devise/shared/links" %></p>
    </div>
  <% end %>

</div>
</div>
</div>
</div>