<% if user_signed_in? %>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="<%= mangas_path %>" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="https://cdn.discordapp.com/attachments/1100516560893906965/1129666792319623259/Manga_sama-removebg-preview.png" alt="Votre image" width="95" height="75">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="<%= mangas_path %>" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="<%= top_mangas_path %>" class="nav-link px-2 link-dark">Top manga</a></li>
          <li><a href="<%= recommended_path %>" class="nav-link px-2 link-dark">Selection for you</a></li>
        </ul>

        <%= form_tag(search_mangas_path, method: :get, class: "col-12 col-lg-auto mb-3 mb-lg-0") do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search manga by name" %>
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </div>
        <% end %>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user fa-lg"></i>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <% unless current_page?(user_path(current_user.id)) %>
                <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
            <% end %>
            <li><hr class="dropdown-divider"></li>
            <li>
                <%= form_tag destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                    <%= submit_tag 'Log out' %>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

<% else %>
  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="<%= mangas_path %>" class="nav-link link-dark px-2">Home</a></li>
        <li class="nav-item"><a href="<%= top_mangas_path %>" class="nav-link link-dark px-2">Top manga</a></li>
        <li class="nav-item"><a href="<%= recommended_path %>" class="nav-link link-dark px-2">Selection for you</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="<%= new_user_session_path %>" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="<%= new_user_registration_path %>" class="nav-link link-dark px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>
  
  <header class="py-3 mb-4 border-bottom">
      <div class="container d-flex flex-wrap justify-content-center">
        <a href="<%= mangas_path %>" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <img src="https://cdn.discordapp.com/attachments/1100516560893906965/1129666792319623259/Manga_sama-removebg-preview.png" alt="Votre image" width="95" height="75">
          <span class="fs-4">MangaSama</span>
        </a>
        <%= form_tag(search_mangas_path, method: :get, class: "col-12 col-lg-auto mb-3 mb-lg-0") do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search manga by name" %>
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </div>
        <% end %>
      </div>
  </header>
<% end %>