<% if user_signed_in? %>
  <div class="dropdown">
    <div class="col text-end">
      <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.username %>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" href="#">Profil</a></li>
        <li><a class="dropdown-item" href="#">Paramètres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="<%= mangas_path %>">MangaSama</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= mangas_path %>">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Top Manga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recommandation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <%= form_tag(search_mangas_path, method: :get, class: "d-flex ms-auto") do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Rechercher un manga" %>
            <button class="btn btn-outline-light" type="submit">Rechercher</button>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col text-end">
        <a class="btn btn-primary" href="<%= new_user_session_path %>">Login</a>
        <a class="btn btn-secondary" href="<%= new_user_registration_path %>">Signup</a>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="<%= mangas_path %>">MangaSama</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= mangas_path %>">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= top_mangas_path %>">Top Manga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recommandation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <%= form_tag(search_mangas_path, method: :get, class: "d-flex ms-auto") do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Rechercher un manga" %>
            <button class="btn btn-outline-light" type="submit">Rechercher</button>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>



